/* 
    Author      : Jai K
    Purpose     : Main Styles for BOQ pages
    Created on  : May 3, 2016, 6:21:01 AM
*/

/** BOQ **/


.tree ul ul {
     border-top: 1px dotted #eee;
 }
 
 .ui-accordion .ui-accordion-content {
     width: 100%;
 }
 
 .download-icn {
     width: 25px;
    float: right;
    margin-right: 28px;
    margin-top: 9px;
 }
 
 /*#boq-tree {
     padding-top: 20px;
     border-top: 2px dotted #ccc;
     
 }*/
 
 .onoffswitch-switch {
     right: 40px;
 }    
 
 #boq-tree .onoffswitch-switch {
     right: 10px;/*40px;*/
     
     width: 48px;
     border-radius: 5px;
 }
 
 #boq-tree .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
     right: 10px;
     
     width: 20px;
 }
 
 .hdr-bar {
    font-size: 14px;
    font-weight: bold;
    background: #f3f4f5;
    padding: 10px;
 }
 
 .hdr-bar .title {
     padding-bottom: 5px;
 }
 
 .chse-box {
     margin: 5px 0;
 }
 
 
 .sub-act-ico:before {
     content: '\f192';
 }
 
 .res-ico:before {
     content: '\f0d1';
 }
 
 .lbr-ico:before {
     content: '\f29d';
 }
 
 .mat-ico:before {
     content: '\f1b3';
 }
 
 .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    /* top: 50%; */
    margin-top: -8px;
    margin-left: -8px;
    width: 10px;
    top: 10px;
}

.ctrls {
    z-index: 99;
    position: absolute;
    right: 5px;
    
    /*top: 10px;*/
}

.ctrls > * {
    margin-left: 15px;
    opacity: 0.75;
}

.ctrls > .onoffswitch {
    margin-left: 0px;
}

.ctrls .fa {
    cursor: pointer;
}

.ctrls .fa:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid;
    border-color: inherit;
    opacity: 0.4;
}

.ctrls .onoffswitch {
    border: none;
}

.ctrls .danger, .danger {
    color: #f00;
}

.dd3-handle {
    padding: 8px 2px;
    top: 10px;
    left: 5px;
 }
 
 .dd {
    margin-left: 20px;
    max-width: 100%; 
 }
 
 .dd-item .dd-list{
     max-width: 83%;
 }
 
 .dd-item .ctrls {
   display: none;  
 }
 
 .dd-item:hover .dd-handle, .dd-item.active .dd-handle {
    background: #FDDFB3 !important;
    border: 1px solid #FAA937;
    color: #333 !important;
 }
 
 .dd-item:hover .dd-handle:before, .dd-item.active .dd-handle:before {
     color: #999 !important;
 }
 
.dd-item:hover .lbl-ico > div, .dd-item.active .lbl-ico > div { 
     color: #fff;
     background: #FAA937;
}    

.dd-item:hover .lbl-ico > div .fa, .dd-item.active .lbl-ico > div .fa {
    color: #fff;
}
 .dd-item:hover .ctrls, .dd-item.active .ctrls {
     display: block;
 }
 
 .dd-item:hover .lbl-total, .dd-item.active .lbl-total {
     position: absolute;
     right: 165px;
     margin-top: -7px; 
 }
 
 .dd3-content {
     /*padding: 5px 1px 8px 35px;*/
     
 }
 
 .dd3-sec {
     margin: -7px;
 }
 
 .dd3-sec > div {
     margin: 5px;
     /*margin-top: 15px;*/
 }
 
 .dd3-sec > div > * {
    width: 22%;
    display: inline-block;
    padding: 0px 5px;
    border: 1px dotted #ccc;
 }
 
 .dd3-sec > div > *:focus {
     border: 1px solid #66afe9;
 }
 

.onoffswitch-switch {
    top: 2px;
}

.sub-hdr {
    border: none;
    border-bottom: 1px dotted #cfcfcf;
    color: #666;
    /*font-style: oblique;*/
    font-size: inherit;
}

.sub-hdr-handle {
    box-shadow: 3px 3px 9px #ccc;
}

.acc-span {
    padding-top: 8px !important;
    border-radius: 0 !important;
    color: #A2A2A2;
}

.acc-span .fa-bars:before {
    content: "\f0c9";
}

.ui-accordion-content {
    border: none;
}

.ui-accordion-content-active > .lvl > .chse-box {
    /*color: #DF8505; /** Orange: #DF8505 **/
    background: #666;
    color: #fff;
    border: 1px outset #eee;
    
    margin-top: -12px;
    margin-bottom: 20px;
    padding:0;
}

.lvl.act {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.form-control.name, .form-control.chse-box, .form-control.unit {
    font-size: 12px;
}

.lbl-ico {
    color: #a2a2a2;
}

.lbl-ico > div {
    min-height: 30px;
}

.lbl-ico > div span {
    height: 18px;
    border-radius: 0px !important;
    border: none !important;
    top: 50px !important;
    position: static !important;
    padding-left: 0px;
}

.sub-total {
    text-align: right;
}

.lbl-total {
    display: inline-block;
    float: right;
    font-style: normal;
    color: #a2a2a2;
    font-weight: bold;
    font-size: 12px;
}

.lbl-total button {
    background: none;
    border: none;
}

.lbl-total .duration {
    font-size: smaller;
    margin: -3px 5px;
    border: none;
}

.lbl-total .duration > div {
    border: 1px dotted #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    -webkit-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    -moz-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    -o-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
    transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
}

.lvl.act .act-wrapper > .ctrls {
    margin-top: 5px;
}

.lvl.act .hdr-bar .lbl-total {
    margin-right: 150px;
}

.lvl.sec .sec-title .lbl-total{
    margin-right: 95px;
}

.lvl.blck > .lbl-total{
    /*margin-right: 115px;
    font-size: 13px;*/ 
    
    margin-right: 115px;
    font-size: 13px;
    position: absolute;
    margin-top: 8px;
    z-index: 99;
    right: 8px;
}

.lvl.site > .lbl-total{
    margin-right: 120px;
    font-size: 13px;
    
    position: absolute;
    margin-top: 8px;
    z-index: 99;
    right: 8px;
}

.site:hover .site-total.lbl-total {
    color: #DF8505;
}

.blck:hover .blck-total.lbl-total {
    color: #DF8505;
}

.sec:hover .sec-title .lbl-total {
    color: #DF8505;
}

.act:hover .hdr-bar .lbl-total {
    color: #DF8505;
}

.dd-item:hover .sub-hdr .lbl-total {
    color: #DF8505;
} 

.lbl-net-total .lbl-total {
    font-weight: bold;
    font-size: 15px;
    color: #A90329;
    text-align: right;
    
}

.lbl-net-total > * {
    padding-right: 140px;
}

.tax-type {
    width: 30px;
    height: 30px;
}

.tax-type .onoffswitch-inner:before, .tax-type .onoffswitch-inner:after {
    line-height: 30px;
    height: 30px;
}

.tax-type-checkbox:checked+.tax-type .onoffswitch-switch {
    right: 10px;
}

.tax-amt {
    text-align: right;
    /*padding-right: 43px; 
    border: none !important;
    border-top: 1px dotted #a2a2a2 !important;*/
}

.tax-amt-col {
    width: 21%;
}

.tax-textarea .text-muted {
    font-size: smaller;
}

.fa.btn {
    cursor: pointer
}

#total-sub-total {
    border-top: none;
    border-bottom: 1px dashed #a2a2a2;
    padding-bottom: 20px;
}

#total-net-total {
    border-top: 1px dashed #a2a2a2;
    margin-bottom: 20px;
}

.site-ico {
    height: 18px !important; border-radius: 0px !important; width: 96.5% !important; text-align: left !important; background: #f5f5f5;
}

.blck-ico {
    height: 18px !important; border-radius: 0px !important; width: 96.5% !important; text-align: left !important; background: #f5f5f5;
}

.site-ico:hover, .blck-ico:hover {
    color: #A2A2A2 !important;
    background: #efefef !important;
    border:none  !important;
} 

.name {
    cursor: pointer;
}





/*.amt {
    text-align: right;
}*/

/*.name {
    height: 34px;
    margin-bottom: -9px;
    margin-left: 2px;
}*/


/**** View Page ****/

.view-page *:disabled {
    background: #fff !important;
    color: #666  !important;
}

.view-page select {
    
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    padding-left: 5px !important; 
    border: none !important; 
    border-bottom: 1px dotted #A2A2A2 !important; 
}

.view-page .lbl-total {
    margin-right: 30px !important;
}

.view-page .lbl-total button {
    background: none !important;
}

.view-page .lvl.sec .sec-title .lbl-total{
    margin-right: 50px !important;
}

.view-page .lvl.blck > .lbl-total{
    margin-right: 50px !important;
}

.view-page .lvl.site > .lbl-total{
    margin-right: 60px !important;
}


/**** View Page - End ****/

@media screen and ( max-width: 1024px ) {
    #global-msg-bar {
        width: 100%;
    }
    
    .lbl-ico {
        display: none;
    }
    
    .dd3-sec > div > * {
        width: 21%;
    }
    
    .tax-amt-col {
        width: 18% !important;
    }
    
    

}    

@media screen and ( max-width: 768px ) {
    
    
    .dd-item .dd-list{
        max-width: 100%;
    }

    .dd3-sec > div > * {
        width: 93%;
    }

    .act-wrapper .ctrls {
           /*top: -21px !important;
           border: 1px solid #ccc;*/
           background: #fefefe;
    }

    .ctrls {
        display: block;
    }
    

    /*.act-wrapper .ctrls {
        top: 15px;
    }*/
 }
 
 @media screen and ( max-width: 720px ) {
     .dd-item .lbl-total {
         display: none;
     }
     
     .tax-amt-col {
        width: 100% !important;
    }
 }
 
 @media screen and ( max-width: 360px ) {
     
     
     .tree li {
         padding: 4px;
     }
 }