.datatable-column-hidden, .item-not-exists {
    display: none;
}

.form-group {
    margin-bottom: 15px !important;
}

.required {
    color: red;
}

.clr {
    clear: both;
}

.fL {
    float: left;
}

.fR {
    float: right;
}

.none {
    display: none;
}

.parallel {
    display: inline-block !important;
}

.parallel:nth-child( even ) {
    float: right;
}

.preview {
    text-align: center;
}

.download-icn {
    width: 30px;
    height: 25px;
    margin: 8px 30px;
    float: right;
}

.preview img {
    width: 100%;
    height: 100%;
}

.chk:after {
    opacity: 1;
}

#logo {
    color: #ececec; 
    font-weight: bold;
    /* letter-spacing: 0px; */
    font-size: 15px;
	margin:0px;
}

.smart-style-0 #logo {
    color: #555;
}

.remove-img-btn {
    position: absolute;
    border: 1px inset #ccc;
    padding: 5px;
    border-radius: 38px;
    width: 20px;
    text-align: center;
    margin-top: -38px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
    left: 14px;
    color: #fff;
}

#global-msg-bar {
    width: 100%;
    margin: auto 0%;
    position: fixed;
    top: 0px;
    min-height: 30px;
    background: rgba(220,220,220,0.8);
    z-index: 99999;
    padding: 25px 25px 25px 15%;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 12px #666;
    font-size: 18px;
    
    display: none;
    
}

#global-msg-bar > div {
    float: left;
}

#global-msg .ico {
    font-size: 35px;
    margin: -5px -50px;
    position: absolute;
 }
 
 #global-msg-bar .clse-btn {
    /*position: absolute;
    right: 15px;*/
    padding: 5px;
    color: #999;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 46px;
    width: 30px;
 } 

#global-msg-bar.error {
    color: #A90329;
    background: rgba(255, 200, 200, 0.91);
    text-shadow: 1px 1px 1px #efefef;
}

#global-msg-bar.error .clse-btn {
    color: #A90329; 
}

#global-msg-bar.success {
    background: #4CAF50;
    /*background: rgba(200, 255, 200, 0.91);*/
    color: #fff;
}

#global-msg-bar.success .clse-btn {
    color: #4CAF50; 
}


#global-msg-bar.info {
    color: #fff;
    /*background: #C9E9E5; /*#5D98CC; background: rgba(93, 152, 204, 1);*/
    
    
    /*color: #5D98CC;
    background: rgba(210, 210, 255, 0.91);*/
    background: rgba(93, 152, 204, 0.91);
}

#global-msg-bar.info .clse-btn {
    color: rgba(93, 152, 204, 0.91); 
}


#global-msg-bar.warning {
    color: #fff;
    /*background: #FF9800;*/
    background: rgba(247, 140, 64, 0.91); /*rgba(255, 152, 0, 0.91);*/ /* #f78c40; rgba(247, 140, 64, 0.91) */
    
    
    /*color: #FF9800;
    background: rgba(200, 200, 255, 0.91);*/
}

#global-msg-bar.warning .clse-btn {
    color: rgba(247, 140, 64, 0.91); 
}


#watermark {
	display: none;
    position: absolute;
     color: #d0d0d0;
     font-size: 2em;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     width: 90%;
     z-index: 1;
     text-align:center;
     padding-top:7%;
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none;   /* Chrome/Safari/Opera */
     -khtml-user-select: none;    /* Konqueror */
     -moz-user-select: none;      /* Firefox */
     -ms-user-select: none;       /* Internet Explorer/Edge */
     user-select: none;           /* Non-prefixed version, currently not supported by any browser */
 }
 .img_preview img {
    width:100px;
    height: 65px;
 }
 
 .view-title-txt {
    font-size: 15px;
    color: #A90329;
 }
 
 .mjr-text-color {
    color: #A90329;
 }

.ajax-loading {
    background-image: url(../images/select2-spinner.gif)!important;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    position: absolute;
    top: 8px;
    padding-right: 18px;
    right: 10px;
}

/* .item {
    padding: 0 !important;
} */

.item:nth-child(even) {
    /*background-color: #fff;*/
}

.item:nth-child(odd) {
    /*background-color: #fff;*/
}

.add-row {
    padding-right: 5px; 
}

.act-view-lblcls {
    font-weight: bold;
    font-size: 12px;
}

.paddingtop-paddingbtm {
    padding-top: 3px; padding-bottom: 3px;
}

@media screen and (max-width: 340px) {
        #watermark{ margin-top:25% !important;}
    }
    
.smart-form-header {
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: normal;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    border-color: #436043 !important;
    background: #496949 !important;
    color: #fff !important;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    height: 34px;
    padding:0 !important;
    margin:0 !important;
}
.smart-form-header  > h2 {
    font-size:13px !important;
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    padding: 6px !important;
}
.smart-form-label {
    margin-left:2%;
    background-color: #c79121;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.popover {
    max-width: 390px !important;
}

.dropdown-menu-mystyle {
    right: 0px !important; left: auto !important;
}

@media screen and (max-width: 500px) {
        .chk_bx_valcls { margin-left: 15px; }
        .popover { max-width: 298px !important; }
        .margin-topcls-30px { margin-top: 30px; }
}

@media screen and (max-width: 500px) {
        .chk_bx_valcls { margin-left: 15px; }
        .popover { max-width: 298px !important; }
        .dropdown-menu-mystyle {
            left: 0px !important;
            min-width: 182px;
        }
        .summarycls span {
            float: none !important;
        }
}

span.select2-hidden-accessible {
    display: none;
}

.my-view-clss {
    padding: 5px;
    margin-right: 5px;
}

.view-def {
    color : red;
}

/* Material request style start */
li.message img {
    width: 54px;
    height: 50px;
}
/* Material request style end */

/* Material transfer style start */
.type_1, .type_2, .type_3, .no_item {
    display: none;
}

.material_transfer .items:nth-child(odd),
.panel_request .item:nth-child(odd) {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.material_transfer .items:nth-child(even),
.panel_request .item:nth-child(even) {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,.1);
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.panel_request .item:last {
    border-bottom: 1px solid #ccc;
}

.material_transfer .items:hover,
.panel_request .item:hover {
    background-color: #ccc;
    border: 1px solid #999;
}

/* Material transfer style end */

/* Inventory style start */
.inventory_unit {
    max-width: 40%;
    width: auto !important;
}
/* Inventory style end */

/* Panel request style start */
.panel_request .item_head:hover,
.panel_request .item_head label:hover,
.panel_request .item:hover,
.panel_request .item label:hover {
    cursor: pointer;
}
.panel_count span {
    padding: 3px;
}
/* Panel request style end */
/* Default */
.login-info a{
	color:#00AEED;
}
.login-info a:hover {color:#242679;}
#ribbon .breadcrumb, #ribbon .breadcrumb a{
	color:#FFF !important;
}

/* ------------Start-------Dashborad Theme------------------- */

/* Dashboard Color */
.home_clr{
        background: #ebebeb; /* For browsers that do not support gradients */
        border-bottom: 1px dotted #CCC;
}
.home_clr a, .home_clr a b{
	color:#43A047;
}
.home_clr a:hover{
	background-color:#43A047;    
}
.home_clr a:active{
	background-color:#43A047 !important;
}
.dashboard {background-color:#43A047;}
.dashboard a {color:#FFF;}

.home_clr li a:hover{
	background-color:#3276b1;
}
.home_clr li a:active{
	background-color:#3276b1 !important;
}
.home_cls #main #ribbon {
	background-color: #43A047;
        
}
.home_cls aside{
    display: block;
    overflow: hidden;
    background: #ebebeb; /* For browsers that do not support gradients */
    min-height: 100%;	
}
.home_cls header{
	background-color: #43A047;
}
.home_cls .page-footer {
	background-color:#d4d4d4;
}

.home_cls .demo>span{
	background:#1f2267;
}
.home_cls .demo>span:hover i{
	color:#FFF !important;
}
.home_cls .txt-color-blueDark{
	color:#FFF !important;
}
.home_cls .demo{
	background:#1f2267;
	color:#FFF;
}
.home_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.home_cls .MessageBoxContainer{
    //background:#1e65a2;
    background: #00aeef; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left, #00aeef , #3276b1); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #00aeef, #3276b1); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #00aeef, #3276b1); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #00aeef , #3276b1); /* Standard syntax (must be last) */

}
.home_cls  .btn-primary{
    background-color: #2e3192;
    border-color: #2e3192;
}

/* Dashboard Color */
.dashboard_clr{
        background: #ebebeb; /* For browsers that do not support gradients */
		border-bottom: 1px dotted #CCC;
}
.dashboard_clr a, .dashboard_clr a b{
	color:#34922e;
}
.dashboard_clr a:hover{
	background-color:#437545;    
}

/* .dashboard_clr a:active{
	background-color:#34922e;
} */
/* .dashboard li a:active{background-color:#34922e;} */
/* .dashboard a {color:#34922e;} */

.dashboard_clr li a:hover{
	background-color:#3276b1;
}
/* .dashboard_clr li a:active{
	background-color:#34922e !important;
} */
.dashboard_cls #main #ribbon {
	background-color: #34922e;
        
}
.dashboard_cls aside{
    display: block;
    overflow: hidden;
    background: #ebebeb; /* For browsers that do not support gradients */
/*background: -webkit-linear-gradient(left, #ff8701 , #ffb83b);  For Safari 5.1 to 6.0 
background: -o-linear-gradient(right, #ff8701, #ffb83b);  For Opera 11.1 to 12.0 
background: -moz-linear-gradient(right, #ff8701, #ffb83b);  For Firefox 3.6 to 15 
background: linear-gradient(to right, #ff8701 , #ffb83b);  Standard syntax (must be last) */

/*    background: -moz-linear-gradient(left,#ff8701 93%,#ffb83b 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#ff8701),color-stop(100%,#ffb83b));
    background: -webkit-linear-gradient(left,#ff8701 93%,#ffb83b 100%);
    background: -o-linear-gradient(left,#ff8701 93%,#ffb83b 100%);
    background: -ms-linear-gradient(left,#ff8701 93%,#ffb83b 100%);
    background: linear-gradient(to right,#ff8701 93%,#ffb83b 100%);*/
    min-height: 100%;	
}
.dashboard_cls header{
	background-color: #34922e;
}
.dashboard_cls .page-footer {
	background-color:#d4d4d4;
}

.dashboard_cls .demo>span{
	background:#1f672e;
}
.dashboard_cls .demo>span:hover i{
	color:#FFF !important;
}
.dashboard_cls .txt-color-blueDark{
	color:#FFF !important;
}
.dashboard_cls .demo{
	background:#1f672e;
	color:#FFF;
}
.dashboard_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.dashboard_cls .MessageBoxContainer{
    //background:#1e65a2;
    background: #00aeef; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left, #2e3192 , #3276b1); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #2e3192, #3276b1); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #2e3192, #3276b1); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #34922e , #34922e); /* Standard syntax (must be last) */

}
.dashboard_cls  .btn-primary{
    background-color: #34922e;
    border-color: #34922e;
}

/* ------------Start-------Master Theme------------------- */
/* Master Color */
.master_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.master_clr a, .master_clr a b{
	color:#512758;
}
 .master_clr a:hover{
	background-color:#66256d;
}
.master_clr a:hover b {color:#FFF;}

.master_clr a:active{
	background-color:#66256d !important;
}

.master_clr .jarviswidget-color-blueDark>header{border-color: #00897b;}

.master {background-color:#512758;}
.master a, .master a b{color:#FFF;}
.master li a, .master li a b{ color: #512758;}

.master_clr li a:hover{
	background-color:#66256d;
}
.master_clr li a:active{
	background-color:#66256d !important;
}
/* Master Theme */
.masters_cls #main #ribbon {
	background-color: #66256d;
}

.masters_cls #main, .masters_cls .jarviswidget>div {background-color: rgba(231,205,220,.5) !important;}
.masters_cls .smart-form footer{background:#dab7d9;}
/*.masters_cls legend {border-bottom: 1px dashed #3276b1; padding-bottom: 10px !important;}*/

.masters_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
	
    min-height: 100%;	
}
.masters_cls header{
	background-color: #66256d;
    border-color: #35103b;
}

.masters_cls .page-footer {
	background-color:#d4d4d4;
}
/*Panel */
.masters_cls .demo>span{
	background:#512758;
}
.masters_cls .demo>span:hover i{
	color:#FFF !important;
}
.masters_cls .txt-color-blueDark{
	color:#FFF !important;
}
.masters_cls .demo{
	background:#512758;
	color:#FFF;
}
.masters_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.masters_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
	z-index:1;
	
}
.masters_cls .temp_color{
	background:#29605a;
	border:#29605a;
}
.masters_cls .MessageBoxContainer{
    background:#66256d;
}
.masters_cls  .btn-primary{
    background-color: #66256d;
    border-color: #4d1956;
}
/* Settings Color */
.settings_clr {
    background-color: #ebebeb;
    border-bottom: 1px dotted #CCC;
}
.settings_clr a, .settings_clr a b{
    color: #F1520C;
}

.settings_clr a:hover{
	background-color:#F1520C;
    color:#FFF !important;
}

.settings_clr a:active{
	background-color:#F1520C !important;
    color:#FFF !important;
}
.settings {
    color:#F1520C;
}

.settings_cls #main #ribbon {
    background-color: #F1520C;
}

.settings_cls header {
    background-color: #F1520C;
    border-color: #ff5722;
}
.settings_cls aside {
    display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;
}
.settings_cls .page-footer {
    background-color: #d4d4d4;
}

.settings {
    background-color: #F1520C;
}

.settings a{
    color:#fff;
}

.settings_cls .demo>span {
    background: #e04616;
}

.settings_cls .txt-color-blueDark {
    color: #FFF !important;
}

.dashboard {
    background-color: #1f672e;
}

.dashboard a{
    color:#fff;
}

/* Purchase Color */
.purchase_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.purchase_clr a, .purchase_clr a b{
	color:#b02773;
}
 .purchase_clr a:hover{
	background-color:#cd2e86;
}
.purchase_clr a:hover b {color:#FFF;}
.purchase_clr a:active{
	background-color:#cd2e86 !important;
}

.purchase {background-color:#b02773;}
.purchase a, .purchase a b{color:#FFF;}
.purchase li a, .purchase li a b{ color: #b02773;}

.purchase_clr li a:hover{
	background-color:#b02773;
}
.purchase_clr li a:active{
	background-color:#b02773 !important;
}
.master_clr .jarviswidget-color-blueDark>header{border-color: #00897b;}
/* Purchases Theme */
.purchases_cls #main #ribbon {
	background-color: #b02773;
}
.purchases_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.purchases_cls header{
	background-color: #b02773;
    border-color: #cd2e86;
}
.purchases_cls .page-footer {
	background-color:#d4d4d4;
}

/*.purchases_cls #main{background: url(../images/pattern/bg_purchases.jpg) repeat;}*/
.purchases_cls #main, .purchases_cls .jarviswidget>div {background-color: rgba(234,211,239,.5) !important;}
.purchases_cls .product_details, .purchases_cls .smart-form footer{background: #dec7e3;}

/*Panel */
.purchases_cls .demo>span{
	background:#cd2e86;
}
.purchases_cls .demo>span:hover i{
	color:#FFF !important;
}
.purchases_cls .txt-color-blueDark{
	color:#FFF !important;
}
.purchases_cls .demo{
	background:#cd2e86;
	color:#FFF;
}
.purchases_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.purchases_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.purchases_cls .temp_color{
	background:#5c2565;
	border:#5c2565;
}
.purchases_cls .MessageBoxContainer{
    background:#b02773;
}
.purchases_cls  .btn-primary{
    background-color: #b02773;
    border-color: #cd2e86;
}

/* Banking Color */
.banking_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.banking_clr a, .banking_clr a b{
	color:#e0a726;
}
 .banking_clr a:hover{
	background-color:#e0a726;
}
.banking_clr a:hover b {color:#FFF;}
.banking_clr a:active{
	background-color:#e0a726 !important;
}

.banking {background-color:#e0a726;}
.banking a, .banking a b{color:#FFF;}
.banking li a, .banking li a b{ color: #e0a726;}

.banking_clr li a:hover{
	background-color:#e0a726;
}
.banking_clr li a:active{
	background-color:#e0a726 !important;
}
/* Purchases Theme */
.banking_cls #main #ribbon {
	background-color: #e0a726;
}
.banking_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.banking_cls header{
	background-color: #e0a726;
    border-color: #c3a305;
}
.banking_cls .page-footer {
	background-color:#d4d4d4;
}

/*.banking_cls #main{background: url(../images/pattern/bg_purchases.jpg) repeat;}*/
.banking_cls #main, .banking_cls .jarviswidget>div {background-color: rgba(255, 237, 174, 0.54) !important;}
.banking_cls .product_details, .banking_cls .smart-form footer{background: #f5ea9c;}

/*Panel */
.banking_cls .demo>span{
	background:#c18807;
}
.banking_cls .demo>span:hover i{
	color:#FFF !important;
}
.banking_cls .txt-color-blueDark{
	color:#FFF !important;
}
.banking_cls .demo{
	background:#c58a07;
	color:#FFF;
}
.banking_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.banking_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.banking_cls .temp_color{
	background:#5c2565;
	border:#5c2565;
}
.banking_cls .MessageBoxContainer{
    background:#e0a726;
}
.banking_cls  .btn-primary{
    background-color: #e0a726;
    border-color: #e0a726;
}




/* Exchange Order Color */
.exchange_order_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.exchange_order_clr a, .exchange_order_clr a b{
	color:#f50cea;
}
 .exchange_order_clr a:hover{
	background-color:#d812cf;
}
.exchange_order_clr a:hover b {color:#FFF;}
.exchange_order_clr a:active{
	background-color:#d812cf !important;
}

.exchange_order {background-color:#f50cea;}
.exchange_order a, .exchange_order a b{color:#FFF;}
.exchange_order li a, .exchange_order li a b{ color: #f50cea;}

.exchange_order_clr li a:hover{
	background-color:#f50cea;
}
.exchange_order_clr li a:active{
	background-color:#f50cea !important;
}
.master_clr .jarviswidget-color-blueDark>header{border-color: #00897b;}
/* Purchases Theme */
.exchange_order_cls #main #ribbon {
	background-color: #f50cea;
}
.exchange_order_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.exchange_order_cls header{
	background-color: #f50cea;
    border-color: #d812cf;
}
.exchange_order_cls .page-footer {
	background-color:#d4d4d4;
}

/*.exchange_order_cls #main{background: url(../images/pattern/bg_purchases.jpg) repeat;}*/
.exchange_order_cls #main, .exchange_order_cls .jarviswidget>div {background-color: rgba(242,198,240,.5) !important;}
.exchange_order_cls .product_details, .exchange_order_cls .smart-form footer{background: #f2c6f0;}

/*Panel */
.exchange_order_cls .demo>span{
	background:#d812cf;
}
.exchange_order_cls .demo>span:hover i{
	color:#FFF !important;
}
.exchange_order_cls .txt-color-blueDark{
	color:#FFF !important;
}
.exchange_order_cls .demo{
	background:#d209c9;
	color:#FFF;
}
.exchange_order_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.exchange_order_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.exchange_order_cls .temp_color{
	background:#d209c9;
	border:#d209c9;
}
.exchange_order_cls .MessageBoxContainer{
    background:#f50cea;
}
.exchange_order_cls  .btn-primary{
    background-color: #f50cea;
    border-color: #d812cf;
}




/* Services Color */
.services_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.services_clr a, .services_clr a b{
	color:#06ad9c;
}
 .services_clr a:hover{
	background-color:#00897b;
}
.services_clr a:hover b {color:#FFF;}
.services_clr a:active{
	background-color:#00897b !important;
}

.services {background-color:#06ad9c;}
.services a, .services a b{color:#FFF;}
.services li a, .services li a b{ color: #06ad9c;}

.services_clr li a:hover{
	background-color:#06ad9c;
}
.services_clr li a:active{
	background-color:#06ad9c !important;
}
.master_clr .jarviswidget-color-blueDark>header{border-color: #00897b;}
/* Purchases Theme */
.services_cls #main #ribbon {
	background-color: #06ad9c;
}
.services_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.services_cls header{
	background-color: #06ad9c;
    border-color: #00897b;
}
.services_cls .page-footer {
	background-color:#d4d4d4;
}

/*.services_cls #main{background: url(../images/pattern/bg_purchases.jpg) repeat;}*/
.services_cls #main, .services_cls .jarviswidget>div {background-color: rgba(175,210,206,.5) !important;}
.services_cls .product_details, .services_cls .smart-form footer{background: #afd2ce;}

/*Panel */
.services_cls .demo>span{
	background:#00897b;
}
.services_cls .demo>span:hover i{
	color:#FFF !important;
}
.services_cls .txt-color-blueDark{
	color:#FFF !important;
}
.services_cls .demo{
	background:#058c7e;
	color:#FFF;
}
.services_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.services_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.services_cls .temp_color{
	background:#058c7e;
	border:#058c7e;
}
.services_cls .MessageBoxContainer{
    background:#06ad9c;
}
.services_cls  .btn-primary{
    background-color: #06ad9c;
    border-color: #00897b;
}


/* invoice Color */
.new-window-popup{
	cursor: pointer;
	padding: 5px;
	margin: 5px 0 0 0;
}
/*#new_window .modal-content{height: 800px; !important}*/
#new_window .modal-content .modal-body{padding: 5px;}
#new_window .modal-dialog{width: 60%; margin: auto;max-width: 1000px;}
.invoice_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.invoice_clr a, .invoice_clr a b{
	color:#00AEED;
}
 .invoice_clr a:hover{
	background-color:#1293c1;
}
.invoice_clr a:hover b {color:#FFF;}
.invoice_clr a:active{
	background-color:#1293c1 !important;
}

.invoice {background-color:#00AEED;}
.invoice a, .invoice a b{color:#FFF;}
.invoice li a, .invoice li a b{ color: #00AEED;}

.invoice_clr li a:hover{
	background-color:#00AEED;
}
.invoice_clr li a:active{
	background-color:#00AEED !important;
}

/* invoice Theme */
.invoice_cls #main #ribbon {
	background-color: #00AEED;
}
.invoice_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.invoice_cls header{
	background-color: #00AEED;
    border-color: #1293c1;
}
.invoice_cls .page-footer {
	background-color:#d4d4d4;
}
.invoice_cls #main, .invoice_cls .jarviswidget>div {background-color: rgba(203,225,228,.5) !important;}
.invoice_cls .product_details, .invoice_cls .smart-form footer{background: #bfd2e3;}

/*Panel */
.invoice_cls .demo>span{
	background:#1293c1;
}
.invoice_cls .demo>span:hover i{
	color:#FFF !important;
}
.invoice_cls .txt-color-blueDark{
	color:#FFF !important;
}
.invoice_cls .demo{
	background:#438ccc;
	color:#FFF;
}
.invoice_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.invoice_cls .large_icon_des {
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index:100000;
}
.invoice_cls .temp_color{
	background:#438ccc;
	border:#438ccc;
}
.invoice_cls .MessageBoxContainer{
    background:#00AEED;
}
.invoice_cls  .btn-primary{
    background-color: #00AEED;
    border-color: #438ccc;
}

/* Inventory Color */
.inventory_clr{
	/* background-color:#437545; */
	border-bottom: 1px dotted #CCC;
}
.inventory_clr a, .inventory_clr a b{
	color:#437545;
}
 .inventory_clr a:hover{
	background-color:#348a5e;
}
.inventory_clr a:hover b {color:#FFF;}
.inventory_clr a:active{
	background-color:#348a5e !important;
}
.inventory {background-color:#437545;}
.inventory a, .inventory a b{color:#FFF;}
.inventory li a, .inventory li a b{ color: #437545;}

.inventory_clr li a:hover{
	background-color:#437545;
}
/* Inventory Theme */
.inventory_cls #main #ribbon {
	background-color: #437545;
}
.inventory_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.inventory_cls header{
	background-color: #437545;
    border-color: #818900;
}
.inventory_cls .page-footer {
	background-color:#d4d4d4;
}
.inventory_cls #main, .inventory_cls .jarviswidget>div {background-color: rgba(221,223,181,.5) !important;}
.inventory_cls .product_details, .inventory_cls .smart-form footer{background: #dddfb5;}

/*Panel */
.inventory_cls .demo>span{
	background:#348a5e;
}
.inventory_cls .demo>span:hover i{
	color:#FFF !important;
}
.inventory_cls .txt-color-blueDark{
	color:#FFF !important;
}
.inventory_cls .demo{
	background:#348a5e;
	color:#FFF;
}
.inventory_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.inventory_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.inventory_cls .temp_color{
	background:#a1a742;
	border:#a1a742;
}
.inventory_cls .MessageBoxContainer{
    background:#437545;
}
.inventory_cls  .btn-primary{
    background-color: #437545;
    border-color: #818900;
}
.inventory_cls  .btn-warning {
    background-color: #9C27B0;
    border-color: #9C27B0;
}
.inventory_cls  .btn-normal {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

/* Promotions Color */
.promotions_clr{
	/* background-color:#283593; */
	border-bottom: 1px dotted #CCC;
}
.promotions_clr a, .promotions_clr a b{
	color:#283593;
}
 .promotions_clr a:hover{
	background-color:#1A237E;
}
.promotions_clr a:hover b {color:#FFF;}
.promotions_clr a:active{
	background-color:#1A237E !important;
}
.promotions {background-color:#283593;}
.promotions a, .promotions a b{color:#FFF;}
.promotions li a, .promotions li a b{ color: #283593;}

.promotions_clr li a:hover{
	background-color:#283593;
}
/* Promotions Theme */
.promotions_cls #main #ribbon {
	background-color: #283593;
}
.promotions_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.promotions_cls header{
	background-color: #283593;
    border-color: #818900;
}
.promotions_cls .page-footer {
	background-color:#d4d4d4;
}
.promotions_cls #main, .promotions_cls .jarviswidget>div {background-color: rgba(221,223,181,.5) !important;}
.promotions_cls .product_details, .promotions_cls .smart-form footer{background: #dddfb5;}

/*Panel */
.promotions_cls .demo>span{
	background:#1A237E;
}
.promotions_cls .demo>span:hover i{
	color:#FFF !important;
}
.promotions_cls .txt-color-blueDark{
	color:#FFF !important;
}
.promotions_cls .demo{
	background:#212c7b;
	color:#FFF;
}
.promotions_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.promotions_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.promotions_cls .temp_color{
	background:#a1a742;
	border:#a1a742;
}
.promotions_cls .MessageBoxContainer{
    background:#283593;
}
.promotions_cls  .btn-primary{
    background-color: #283593;
    border-color: #818900;
}
.promotions_cls  .btn-warning {
    background-color: #9C27B0;
    border-color: #9C27B0;
}
.promotions_cls  .btn-normal {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

/* Operation Color */
.operation_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.operation_clr a, .operation_clr a b{
	color:#8B1A0D;
}
 .operation_clr a:hover {
	background-color:#b95a36;
}
.operation_clr a:hover b {color:#FFF;}
.operation_clr a:active{
	background-color:#b95a36 !important;
}

.operation {background-color:#8B1A0D;}
.operation a, .operation a span, .operation a b{color:#FFF;}
.operation li a, .operation li a b{ color: #8B1A0D;}

.operation_clr li a:hover{
	background-color:#8B1A0D;
}
.operation_clr li a:active{
	background-color:#8B1A0D !important;
}
/* Operations Theme */
.operations_cls #main #ribbon {
	background-color: #8B1A0D;
}
.operations_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.operations_cls header{
	background-color: #8B1A0D;
    border-color: #8a3d35;
}

.operations_cls .page-footer {
	background-color:#d4d4d4;
}
.operations_cls #main, .operations_cls .jarviswidget>div {background-color: rgba(225,206,167,.5) !important;}
.operations_cls .product_details, .operations_cls .smart-form footer{background: #e1cea7;}

/*Panel */
.operations_cls .demo>span{
	background:#8a3d35;
}
.operations_cls .demo>span:hover i{
	color:#FFF !important;
}
.operations_cls .txt-color-blueDark{
	color:#FFF !important;
}
.operations_cls .demo{
	background:#8a3d35;
	color:#FFF;
}
.operations_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.operations_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.operations_cls .temp_color{
	background:#8a6e33;
	border:#8a6e33;
}
.operations_cls .MessageBoxContainer{
    background:#8B1A0D;
}
.operations_cls  .btn-primary{
    background-color: #8B1A0D;
    border-color: #8a3d35;
}
.operations_cls  .btn-warning {
    background-color: #9C27B0;
    border-color: #9C27B0;
}
.operations_cls  .btn-normal {
    background-color: #1B5E20;
    border-color: #1B5E20;
}

/* Reports Color */
.reports_clr{
	background-color:#ebebeb;
	border-bottom: 1px dotted #CCC;
}
.reports_clr a, .reports_clr a b{
	color:#E91E63;
}
.reports_clr a:hover{
	background-color:#c70245;
}
.reports_clr a:hover b {color:#FFF;}
.reports_clr a:active{
	background-color:#c70245 !important;
}

.reports {background-color:#E91E63;}
.reports a, .reports a b{color:#FFF;}

.reports_clr li a {
color: #E91E63;
}

.reports_clr li a:hover{
	background-color:#E91E63;
        color: #fff;
}
.reports_clr li a:active{
	background-color:#E91E63 !important;
}

/* MIS Reports Theme */
.reports_cls #main #ribbon {
	background-color: #E91E63;
}
.reports_cls aside{
	display: block;
    overflow: hidden;
    background: #ebebeb;
    min-height: 100%;	
}
.reports_cls header{
	background-color: #E91E63;
    border-color: #db0e54;
}
.reports_cls .page-footer {
	background-color:#d4d4d4;
}
.reports_cls #main, .reports_cls .jarviswidget>div {
    /* background-color: rgba(222,165,44,.5) !important; 
    background-color: rgba(222, 165, 44, 0.2) !important;*/
}
.reports_cls .product_details, .reports_cls .smart-form footer{background: #e5bdc7;}

/*Panel */
.reports_cls .demo>span{
	background:#db0e54;
}
.reports_cls .demo>span:hover i{
	color:#FFF !important;
}
.reports_cls .txt-color-blueDark{
	color:#FFF !important;
}
.reports_cls .demo{
	background:#db0e54;
	color:#FFF;
}
.reports_cls .form header, legend{
	color:#FFF;
	border-bottom: 1px dashed #FFF;
}
.reports_cls .large_icon_des {
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index:1;
	
}
.reports_cls .temp_color{
	background:#7b424f;
	border:#7b424f;
}
.reports_cls .MessageBoxContainer{
    background:#E91E63;
}
.reports_cls  .btn-primary{
    background-color: #E91E63;
    border-color: #c70245;
}
.reports_cls  .btn-danger {
    background-color: #9C27B0;
    border-color: #c70245;
}

nav ul ul .active {background:#ebebeb;}
.ribbon-button-alignment #refresh{
    box-shadow: none;
}

/* Menu page style start */
section.dashboard_clr {
    background:#2e3192;
    border:1px solid #FFF;
}

section.master_clr {
    background: #00897B;
    border: 1px solid #FFF;
}

.home_submenu section {
    padding: 5px 0;
    font-size: 16px;
}

.home_submenu .master_clr {
    background: #007468;
    border: 1px solid #FFF;
}

section.purchase_clr {
    background: #9C27B0;
    border: 1px solid #FFF
}

.home_submenu .purchase_clr {
    background: #751585;
    border: 1px solid #FFF;
}

section.invoice_clr {
    background: #3276b1;
    border: 1px solid #FFF
}

.home_submenu .invoice_clr {
    background: #1e5a8d;
    border: 1px solid #FFF;
}

section.inventory_clr {
    background: #818900;
    border: 1px solid #FFF
}

.home_submenu .inventory_clr {
    background: #696f00;
    border: 1px solid #FFF;
}

section.operation_clr {
    background: #c79121;
    border: 1px solid #FFF
}

.home_submenu .operation_clr {
    background: #b1801a;
    border: 1px solid #FFF;
}

section.reports_clr {
    background: #a90329;
    border: 1px solid #FFF
}

.home_submenu .reports_clr {
    background: #75001b;
    border: 1px solid #FFF;
}

.sub_menu {
    display: none;
}
/* Menu page style end */

/* invoice Order style start */
form.edit_form .new_shipping_address {
    display: none;
}

.product_details {
    border: 1px solid #ccc;
    background: #e9e9e9;
}

.brand_label {
    color: #2c3691;
    font-weight: bold;
}

.product_code_label {
    color: #2c3691;
    font-weight: bold;
    display: none;
}

.gst_val {
     font-weight: bold;
}
.price, .cost, .item_discount, .amount, .total_amt, .gst_amount, .sub_total,
.price1, .cost1, .amount1, .sub_total1, .gst_amount1, .total_amt1 {
    text-align: right;
}

.credit_amount_container {display: none;}
input.discount {
    padding-left: 5px;
}

.currency{
    
}

.product_search button[type="submit"] {
    height: 34px;
}

.product_search {
    border: 1px solid #ccc;
    /*background: #e9e9e9;*/
    border-bottom: 0;
}

.product_search section {
    padding: 0;
    margin: 5px 0;
}

input[name="search_product"] {
    
}

.items_head section {
    margin-bottom: 0;
}

.cheque_details, .dd_details {
    display: none;
}
/* invoice Order style end */

.shipping_address:nth-child(odd) {
	background-color: #e5e5e5;
}

.shipping_address:nth-child(even) {
	background-color: #fff;
}
.submit_pdf{
	background-image: url(../images/file-icons/pdf.png);
    border: 0px;
    background-color: #FFFFFF;   
    color: transparent;
    float: right;
    margin: 5px 0 10px 0;
	height: 25px;
	width: 25px;
}
.submit_excel{
	background-image: url(../images/file-icons/xlsx.png);
    border: 0px;
    background-color: #FFFFFF;
    color: transparent;
    float: right;
    margin: 5px 0 10px 0;
	height: 25px;
	width: 25px;
}

.bg-active-branch {
    background-image: url(../images/active_branch_bg.png);
    text-shadow: 2px 2px #000;
}

.bg-branch{
    background-image: url(../images/branch_bg.png);
    text-shadow: 2px 2px #000;
}

.error_description {
    display: none;
    color: #2c3691;
    font-weight: bold;
}

.add-row, .remove-row, .promotion,
.exc-add-row, .exc-remove-row, .inv-add-row, .inv-remove-row,
.serv-add-row, .serv-remove-row {cursor: pointer;}
.promotion{display: none; color: #3f51b5;}
.add_to_invoice{margin: 2px 0; padding: 3px 3px;}
.promo_item_head label{font-weight: bold;}
.promo_item_head{background-color: #eee;padding: 5px 3px;}
.promo_item:nth-child(odd){background-color: #fff;}
.promo_item:nth-child(even){background-color: #f3f1f1;}
.promo_item.added {background-color: rgba(255, 0, 0, 0.27);}
.promotion_title{margin: 0;}
.group_name, .save-amt{font-size: 16px;}
.group_buy_locked, .group_buy_locked:hover{background-color: #ccc; cursor: not-allowed;}
.group-buy-items{padding: 5px; border-radius: 5px;}
.group-buy-items:nth-child(even){background-color: rgba(96, 125, 139, 0.19)}
.group-buy-heading{padding: 2px 0; display: inline-block; width: 100%;}
.group-buy-body{display: inline-block; margin-bottom: 30px;}
label.label{font-weight: bold !important;}
div[role="content"] table:not(.lowercase){text-transform: uppercase;}
input, textarea, select, .select2, .select2-drop, .alert, .ui-autocomplete {text-transform: uppercase;}
.lowercase{text-transform: none;}
.fw-normal{font-weight: normal;}

#purchase_payment_form .items_head em, #exchange_order_payment_form .items_head em, #external_service_payment_form .items_head em, #sales_payment_form .items_head em {
	position: absolute;
    width: 300px;
    margin: -8px;
    padding-left: 8px;
    z-index: 1;
}

#purchase_payment_form .items em, #exchange_order_payment_form .items em, #external_service_payment_form .items em, #sales_payment_form .items em {
	position: absolute;
    width: 300px;
    margin: 0;
    z-index: 1;
}

#supplier_form em, #services_form em {
	display: inline;
}

#invoices .items{padding: 5px 0px;}
div.credit_notes {
	background-color: #ef9292 !important;
}

.no-margin{margin: 0;}
.added-item-legend .btn {
	padding: 0 7px;
	margin-right: 10px;
	margin-bottom: 2px;
    background-color: rgba(255, 0, 0, 0.27);
    border: rgba(255, 0, 0, 0.27);
}
.div-amt{margin-bottom: 0px; display: inline-block; width: 100%;}
.fa-plus-square-o:hover, .fa-minus-square-o:hover{cursor: pointer;}

.nav-tabs li:not(.active) a{color: #fff !important;}
.nav-tabs li:not(.active) a:hover{color: #000 !important;}
.available_qty_label{display: none;}
.exr_code_cls{width: 100%;display: block;}
.stock-window{display: none; position: absolute; z-index: 10; max-width: 350px; min-width: 350px; font-size: 12px;}
.stock-window .title{font-size: 14px;}
.no-item{display: none;}
#sgd_total_amt_container, #exchange_rate_container{display: none;}
.sgd_amount{text-align: right;}
#total-sales:hover, #prev-sales-amt:hover {cursor: pointer;}