.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.bg-aqua {
    /*background-color: #00c0ef !important;*/
    background-color: #578d9b !important;
    color: #fff !important;
}
.bg-red {
    background-color: #96764c !important;
    color: #fff !important;
}
.bg-yellow {
    background-color: #d7b279 !important;
    color: #fff !important;
}
.bg-green {
    background-color: #69b190 !important;
    color: #fff !important;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-text {
    color: rgb(107, 101, 101);
}
.purch-info-box-number {
    font-weight: bold;
    color: #777272;
}
.widget-body.no-padding {
    margin-top: -18px;
}