/* 
    Created on  : Dec 16, 2015, 1:45:53 PM
    Author      : jai
    Purpose     : Styles for Print Page
*/
    /*body {
        font-size: 12px;
    }
    #print {
        display: block;
    }
    
    #print-preview{
        display: none;
        background: url(../assets/images/congratulation/ending_00306.jpg) no-repeat;
    }
    
    #home-content, .plotter {
        display: none;
    }*/
    
	
    #thermal_container {
		width: 302px;
		border: 1px solid #bbb;
		padding: 10px;
		margin: auto;
		font-family: calibri;
		font-size: 18px;
		color: #000;
    }
	
    .logo {
        text-align:center;
    }
	
	.logo img {
		max-width: 100%;
	}
	
	.thank-you-img img {
		max-width: 100%;
	}
	
	p{margin: 10px 0px;}
	table td{padding: 0px 0px;}
	.address {text-align: center; padding-top: 10px;}
	.gst_no {margin-top: 2px; text-align: center;}
	.reg_no {margin-bottom: 2px; text-align: center;}
	.inv_title{text-align: center; padding-top: 8px; padding-bottom: 8px; border-top: 1px dashed #333; border-bottom: 1px dashed #333; font-size: 18px; margin-top: 25px;}
	
	.inv_head_tbl{width: 100%; border-collapse: collapse;}
	.inv_head_content_sep{margin-top: 0px}
	.inv_content_tbl, .inv_fooer_tbl{width: 100%; border-collapse: collapse;}
	
	.inv_content_tbl td, .inv_content_tbl th{padding: 0 5px;}
    .separator-top {border-top: 1px dashed #333; height: 3px; margin-bottom: 1px; margin-top: 20px;}
    .separator-bottom {border-bottom: 1px dashed #333; margin-top: 15px;}
	.thank-you{font-size: 16px;}
	
	
    /*.congrats
    {
        float:left; width:100%; font-size:16px; font-family:"Arial"; margin-bottom:5px; letter-spacing:2px;
        display: block; text-align: center; font-style: italic;
    }
    #one
    {
        float:left; width:100%; text-align:center; font-family:"Arial"; font-size:26px; margin-top:0px; word-spacing: 6px;
    }
    #two
    {
        float:left; width:100%; text-align:center; font-family:"Arial"; font-size:12px; margin-top:0px;
    }
    #three
    {
         float:left; width:100%; text-align:center; font-family:"Arial"; font-size:12px; margin-top:0px;
    }
    #main_table{
        font-family:"Arial"; font-size:14px;
    }*/